@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script&family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:wght@500&family=Open+Sans:wght@300&display=swap');
:root {
  --primary-color: #FFF; /* Kolor podstawowy */
  --secondary-color: #000000f1; /* Kolor dodatkowy */
  --mainFont-family: 'Dancing Script', cursive; /* Rodzina czcionek */
  --secondFont-family: 'Open Sans', sans-serif;
  --font-size: 16px; /* Rozmiar czcionki bazowy */
  --bg-color: linear-gradient(134deg, #984D38 0%, #181E41 63.29%); /* Kolor tła */
  --second-bg-color: #1d1f1e; 
  --border-radius: .7rem; /* Promień zaokrąglenia */
}


.App {
  font-size: var(--font-size);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}