.footerDescription {
  display: flex;
  flex-direction: column;
}
.footerDescription h2 {
  font-family: "Handjet", cursive;
  font-size: 9vw;
  margin-bottom: 1rem;
}

.footerDescription section {
  align-self: center;
}

.footerDescription section svg {
    padding: 0 .5rem;
    color: var(--primary-color);
}
