.TechIconsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1.5rem 0;
    margin-bottom: 4rem;
}

.TechIconsContainer svg {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .TechIconsContainer {
        margin: 0;
    }
}